Section: misc
Priority: optional
Homepage: https://cloudogu.com
Standards-Version: 3.9.2
Package: ces-goss
Version: x.y.z-i
Maintainer: Jan Niemann <jan.niemann@cloudogu.com>
Architecture: amd64
Description: Cloudogu EcoSystem - goss
 Quick and Easy server testing/validation packaged for use within the Cloudogu EcoSystem
